.h5consolas {
    font-size: 1.5rem;
    color: white;
    font-family: Consolas;
    font-weight: 600;
    text-align: center;
}

.h6consolas {
    font-size: 1.2rem;
    color: darkgray;
    font-family: Consolas;
    font-weight: 400;
    text-align: center;
}

.purple-bracket {
    color: #7C3AED;
    font-weight: bold;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 10vh;
    border-radius: 10px;
    animation: menu-container 0.5s ease-in-out;
}

@keyframes menu-container {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
