button {
    background-color: transparent;
    color: #fff;
    border: 2px solid transparent;
    padding: 1% 2.5%;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 10px;
  }
  
button:hover {
    background-color: black;
    border: 2px solid #7C3AED;
}
button:active {
    background-color: #7C3AED;
}
button:focus {
    background-color: black;
    outline: 2px solid #7C3AED;
}
