.container {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/restaurantbg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}

.typewriter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
}

